@import url('inkdrop://mermaid/node_modules/@fortawesome/fontawesome-free/css/solid.css');
@import url('inkdrop://mermaid/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');

.mermaid-diagram {
  svg {
    color: black;
  }
}

body[class*='dark-ui'] {
  .mermaid-diagram {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.3rem;
  }
}

body .mermaid-diagram.theme-default,
body .mermaid-diagram.theme-neutral {
  background-color: white;
}

body .mermaid-diagram.theme-dark {
  background-color: transparent;
}

body .mermaid-diagram.disable-auto-scale {
  overflow: auto;

  svg {
    width: auto !important;
  }
}
