[data-mermaid-theme='light'] {
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 1px,
    rgba(85, 85, 85, 0) 1px
  );
}

[data-mermaid-theme='dark'] {
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle,
    rgba(222, 222, 222, 0.2) 1px,
    rgba(85, 85, 85, 0) 1px
  );
}

.mermaid-diagram {
  position: relative;
  height: 100%;
  overflow: auto;

  .control-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;

    header {
      background-color: transparent;
      display: flex;
      flex: 0 0 auto;
      flex-direction: row;
      gap: 4px;

      .type {
        background-color: #262626;
        border-radius: 6px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        overflow: hidden;
        padding: 4px;
        line-height: 10px;
        color: #ffffff;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 10px;
        align-items: center;

        .title,
        .value {
          padding: 4px 6px;
          height: fit-content;
        }

        .value {
          border: 1px solid;
          border-radius: 4px;
        }

        .value.value-normal {
          background-color: #333333;
          border-color: #404040;
        }

        .value.value-error {
          background-color: #b82626;
          border-color: #dc2626;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 4px 3px;
      gap: 4px;

      background: #262626;
      border-radius: 6px;

      button {
        background: none;
        border: none;
        padding: 2px;
        display: flex;

        svg {
          color: #ffffff;
        }
      }

      button:hover {
        cursor: pointer;

        svg {
          color: #b4b4b4;
        }
      }
    }
  }
}
